# PostgreSQL
POSTGRES_USER=hokkyokusei
POSTGRES_PASSWORD=password
POSTGRES_DB=hokkyokusei
DATABASE_URL=postgres://hokkyokusei:password@localhost:5432/hokkyokusei

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# API
PORT=3000
